

div#leftcontainer2{
	background: #cbd09f;
	float:left;
	width:244px;
	margin-left:-986px;
	margin-top: 5px;
}

div#rightcontainer{
	background: #cbd09f;
	float:left;
	width:244px;
	margin-left:-262px;
	margin-top: 5px;
}

div#rightcontainer2{
	background: #cbd09f;
	float:left;
	width:244px;
	margin-left:-262px;
	margin-top: 5px;
}
