

}
#horiz-menu a {
	color:#efefef; /*fff*/
	font-size:100%;
	font-weight:bold;
	line-height:25px;
	margin-left:15px;
	margin-right:10px; /*Eddy comment - otstup v menu*/
	margin-top:6px;
	text-decoration:none;
	white-space:nowrap;
}

#horiz-menu ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}


#horiz-menu li.active {
	font-weight:bold;
	background: #62699c;/*b58200*/
}

#horiz-menu ul ul {
	background:#31366a none repeat scroll 0% 0%; /*CBA200*/
}

#horiz-menu ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
}
