
	
	background-image: -moz-linear-gradient(left,#08c,#0044cc);
	background-image: -ms-linear-gradient(left,#08c, #0044cc);
	background-image: -webkit-gradient(linear,0 0,100% 0,from(#08c),to(#0044cc));
	background-image: -webkit-linear-gradient(left,#08c,#0044cc);
	background-image: -o-linear-gradient(left,#08c,#0044cc);
	background-image: linear-gradient(to right,#08c,#0044cc);
}

.pwebcontact_toggler.pweb-toggler-blue:hover,
.pwebcontact_toggler.pweb-toggler-blue.pweb-opened {
	background-image: none !important;
	background-position: 0 -30px;
}
.pweb-top .pwebcontact_toggler.pweb-toggler-blue:hover,
.pweb-top .pwebcontact_toggler.pweb-toggler-blue.pweb-opened {
	background-position: 0 30px;
}
.pweb-vertical.pweb-left .pwebcontact_toggler.pweb-toggler-blue:hover,
.pweb-vertical.pweb-left .pwebcontact_toggler.pweb-toggler-blue.pweb-opened {
	background-position: -30px 0;
}
.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-toggler-blue:hover,
.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-toggler-blue.pweb-opened {
	background-position: 30px 0;
}
